<header id="header" class="row" data-hook>
  <figure id="logo" class="columns six" data-hook><%= logo %></figure>
  <%= render :partial => 'spree/shared/nav_bar' %>
  <%= render :partial => 'spree/shared/main_nav_bar' if store_menu? %>
	<%# <div class="announcement"><p> Thank-you for visiting Patsy Petunia!  This weekend we are at our biggest craft show of the year!  Please visit us at A Touch of Saltspring, December 5th to 7th.  We have suspended our online sales of the weekend in anticipation for the show.  If you would like to get in touch, drop us a line at patsy.petunia@yahoo.ca</p></div> %>

</header>
