<nav id="top-nav-bar" class="columns six">
  <ul id="nav-bar" class="inline" data-hook>
		<li>
			<a href="/account">My Account</a>
		</li>
		<li>
			<a href="/logout">Logout</a>
		</li>
  </ul>
</nav>
